# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Jupyter
.ipynb_checkpoints/

# JupyterLab
.jupyter/

# IDEs
.vscode/
.idea/

# Spark output
output.txt/
output/
spark-warehouse/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# Python local configuration
.python-version